<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
</head>

<body>

<div class="container">

    <div id="middle">

        <form method="post" action="/leave">
                <div class="form-group">
                    <button style="background-color:red" type="submit" class="btn btn-default">Leave Chat</button>
                </div>
        </form>
        <form method="post" action="/points">
            <div class="form-group">
                <button type="submit" class="btn btn-default">Not Working, No Touchy</button>
            </div>
        </form>
    </div>

</div>

</body>

</html>