<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title></title>
    <style>
        table tr td {
            text-align: center;
        }

         table tr td:first-child {text-align: left}
    </style>
</head>
<body>

    <div id="middle">
        <form method="post" action="/leave">
            <div class="form-group">
                <button style="background-color:red" type="submit" class="btn btn-default">Leave Chat</button>
            </div>
        </form>
        <p>Points table</p>
        <table class="table table.striped">
            <tr>
                <th>Name</th>
                <th>Points</th>
            </tr>
            <tr th:each="viewer : ${viewers}">
                <td th:text="${viewer.viewerName}">Name</td>
                <td th:text="${viewer.points}">Points</td>
            </tr>
        </table>

    </div>
</body>
</html>